body {
    background-color: rgb(10, 21, 37);
}

.content {
    width: calc(99%);
    background-color: #ffffff;
    margin: auto;
    padding: 5em;
}

.posts {
       padding: 6em; 
}
.content .site {
    margin: auto;
    padding: 2em;
}
.content .site .name {
    font-size: 6em;
}
 .content .site .description {
    font-size: 3em;
}

.post {
    padding: 1em;
    background-color: #f3f3f3;
}
.post-link {
    color: black;
}

.content .post {
    padding: 6em;
    background-color: #f3f3f3;
}
.content .post .title {
    font-size: 3em;
}
.content .info {
    display: inline-flex;
}
.content .info .date, .content  .info .author {
    font-size: 0.8em;
}