body {
    background-color: rgb(10, 21, 37);
}

.content {
    width: calc(99%);
    background-color: #ffffff;
    margin: auto;
    padding: 5em;
}

.posts {
       padding: 6em; 
}
.site {
    margin: auto;
    padding: 2em;
}
.site .name {
    font-size: 6em;
} .site .description {
    font-size: 3em;
}

.post {
    padding: 1em;
    background-color: #f3f3f3;
}
.post-link {
    color: black;
}

.content .post {
    padding: 6em;
    background-color: #f3f3f3;
}
.post .title {
    font-size: 3em;
}
.info {
    display: inline-flex;
}
.info .date, .info .author {
    font-size: 0.8em;
}