body {
    background-color: rgb(10, 21, 37);
}

.content {
    width: calc(99%);
    background-color: #ffffff;
    margin: auto;
    padding: 5em;
}

.posts {
    
}

.post {
    padding: 1em;
    background-color: #f3f3f3;
}
.post-link {
    color: black;
}

.content .post {
    padding: 6em;
    background-color: #f3f3f3;
}