<html>

<head>
    <title>{{ site.title }}</title>
</head>

<body>
    <div class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{{ site.url }}">{{ site.title }}</a>
            <div class="uk-navbar-subtitle">{{ site.description }}</div>
        </div>
    </div>
    <div class="tm-main uk-section uk-section-default">
        <div class="uk-container uk-container-small uk-position-relative">
            {{content}}
            <div>
                <div>
                    {{content}}
                </div>
            </div>
        </div>
    </div>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
</body>

</html>